@import 'globals';

#stayInformed .sapMFlexBox {
    min-height: 100px !important;
    margin: auto;
    margin-bottom: 0;
    padding: 25px;
    margin-top: 20%;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    @media only screen and (min-width: $small-size) {
      margin-top: 15%;
    }
    font-family: 'Roboto', sans-serif;
}

#stayInformed .sapMText {
  font-family: 'Roboto', arial !important;
}

#stayInformed .sapMFlexItem {
  margin-right: 0 !important;
  margin-left: 0 !important;
  margin-top: 0;
  margin-bottom: 0;
  @media only screen and (min-width: $small-size) {
    margin-right: 15% !important;
    margin-left: 23% !important;
  }
  @media only screen and (max-width: $small-size) {
      background: white;
  }
  font-family: 'Roboto', arial;
}

#stayInformed .infoPageHeader {
  font-size: 30px;
  text: #778899;
  padding: 25px;
}

#stayInformed .importantInfo {
    font-size: 20px;
    padding-bottom: 7.5%
/*  
    border: 3px solid #73AD21; 
*/
}

#stayInformed .sapMFlexBox {
    text-align: center;
    margin: auto;
    margin-top: 15%;
    padding: 5%;
}

#stayInformed .sapMText {
  margin-left: 25px;
}

#stayInformed .sapMFlexItem .sapMBtnBase {
  width: 25%;
  right: 35%;
  @media only screen and (max-width: $small-size) {
    width: 55%;
    right: 0;
  }
}

#stayInformed .sapMFlexItem:nth-child(2) {
  margin-top: 30px;
}

#stayInformed .sapMFlexItem:nth-child(1) {
  background: none;
}

#stayInformed #__text3, #__text4 {
  color: #333;
  font-size: 22px;
  margin-top: 20px;
}

#stayInformed #__text2 {
  font-weight: bold;
  font-size: 22px;
  @media only screen and (max-width: $small-size) {
    margin-left: 25%;
  }
}