/*
 * Warning Signs Page
 */ 
@import 'globals';

html {
    height: 100%;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}
body {
   margin: auto;
   height: 100%;
   overflow: auto !important;
}

header{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    background-color: #ffffff;
    padding: 10px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#warn .sapMText {
  font-family: 'Roboto', arial !important;
}

#warn .warnBox {
    margin-top: 20%;
    position: absolute;
    padding: 10px;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
  	color: #000000;
  	background-color: #ffffff;
  	border: 1px solid #000000;
   	border-radius: 4px;
}


